
    <!-- First Section - Panther 404 -->

    <section id="showcase">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="showcase-right">
              <h1>World's First Student Portal</h1>
              <p class="heading-paragraph"></p>
            </div><br>
            <a href="#" class="btn btn-default read-more">Read More</a>
          </div>
          <div class="col-md-6 col-lg-6 border col-sm-6">
            <div class="showcase-left">
              <img src="/images/showcase.jpeg" alt="showcase">
            </div>
          </div>
        </div>
        <center><a href="#block"><img src="/images/arrow.svg" alt="arrow" class="arrow animated bounce arrow1"></a></center>
      </div>
    </section>

    <!-- Ending Of First Section - Panther 404 -->

    <!-- Starting Of Three Student Blocks - Panther 404 -->
    <section id="block">
      <div class="container">
        <div class="student_heading">
          <h1 class="center">Why To Learn From Student Academy ?</h1>
          <p class="center para_height">High-Quality Courses at affordable rates. Yep, it's that simple</p>
        </div>
        <div class="row">
          <div class="col-md-4 comfort">
            <h2>At your time</h2>
            <p id="p_white">Class starts when you say so and ends when you say so. It's totally in your control.</p>
            <a href="#" class="btn btn-info btn-lg">At your time</a>
          </div>
          <div class="col-md-4 time">
            <h2>Expert at your reach</h2>
            <p id="p_white">Gone are the days when you have to reach to experts. As expert's classes are at your home now with LCO.</p>
            <a href="#" class="btn btn-info btn-lg">Expert Reach</a>
          </div>
          <div class="col-md-4  experts">
            <h2>Comfort</h2>
            <p id="p_white">Learn in the comfort of your home and get updates on latest technology trends.</p>
            <a href="#" class="btn btn-info btn-lg">Comfort</a>
          </div>
        </div>
        <center><a href="#courses"><img src="/images/arrow.svg" alt="arrow" class="arrow animated bounce arrow2"></a></center>
      </div>
    </section>
    <!-- Ending Of Three Student Blocks - Panther 404 -->

    <!-- Courses Block - Panther 404 -->
<section id="courses">

      <div class="container">
        <h1 class="center" style="margin:5%;">Our Latest Courses</h1>
      <div class="row">
        <center>
        <div class="col-md-4">
          <div class="Python_Course">
            <img src="/images/python.jpg" alt="" class="img-responsive">
            <p class = "p_heading">Learn Python 3</p>
            <p class="p_description">Python 3 is now a stable branch and is your first step for Machine learning and information security.</p>
            <button type="button" name="button" class="btn btn-default">Enroll Now</button>
            </div>
        </div>

          <div class="col-md-4">
            <div class="Web_Development">
              <img src="/images/web.jpg" alt="" >
              <br>
              <p class = "p_heading">Web Development</p>
              <p class="p_description">Learn complete front end developer Bootcamp and make 14 projects</p>
              <button type="button" name="button" class="btn btn-default">Enroll Now</button>
            </div>
          </div>

            <div class="col-md-4">
              <div class="PHP_Course">
                <img src="/images/php.jpg" alt="" >
                <br>
                <p class = "p_heading">PHP Course</p>
                <p class="p_description">Learn everygreen programming language to developer websites.</p>
                <button type="button" name="button" class="btn btn-default">Enroll Now</button>

              </div>
            </div>
            </center>
      </div>
      <center><a href="#Opinions"><img src="/images/arrow.svg" alt="arrow" class="arrow animated bounce arrow3" style="max-width:8%;"></a></center>
      <div>
    </section>

    <!-- Ending Of Courses Block - Panther 404 -->

    <!-- Student's Opinions Block - Panther 404 -->
    <section id="Opinions">
      <div class="container opinions">
        <p class="center op_p">What Are Our Student Says</p>
        <div class="row">
          <div class="col-md-3 op1 col-md-offset-1">
            <div class="student1">
            <img src="/images/avatar.png" alt="avatar">
            <b>- "Michael Kwaku",</b><br><blockquote><justify>With this course I feel i can learn the framework really fast and easy, must say I was overwhelmed with other courses, but this works just fine with me.</justify><blockquote>

            </div>
          </div>
          <div class="col-md-3 op1 student2">
            <div class="">
              <img src="/images/avatar.png" alt="avatar" >
              <b>- "Surojit Ain",</b><br><blockquote><justify>The Course is structured in a way that it doesn't bore or makes complicated, rather it makes viewer more interested to continue study.</justify><blockquote>
          </div>
          </div>
          <div class="col-md-3 op1 student3">
            <div class="">
            <img src="/images/avatar.png" alt="avatar">
            <b>- "Jagjit Sing",</b><br><blockquote><justify>Great course, very well explained, the examples are good and the hands-on exeperience is valuable. The are plenty resources provided and I really enjoy the instructor's style.</justify><blockquote>
          </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Ending Of Student's Opinions Block - Panther 404 -->

    <!-- Footer - Panther 404 -->
    <footer class="footer">
      <a href="#showcase"><img src="/images/up.png" alt="" class="arrow animated bounce"></a>
      <h3 class="center" >Copyright &copy; Panther404 2018</h3>
      <p align="center">Designed and Coded in INDIA.</p>
    </footer>
</div>
    <!-- Ending Of Footer - Panther 404 -->

    <script src="/javascripts/scroll.js"></script>
    <script src="/javascripts/typed.js"></script>
 <script>
  	var typed = new Typed('.heading-paragraph', {
  strings: ["Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."],
  typeSpeed: 10,
});
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>

  $(function() {
    // Smooth Scrolling
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });

  </script>
