<div class="row">
        <div class="col-md-3 col-lg-3 col-xs-3"></div>
        <div class="col-md-6 col-lg-6 col-xs-6">
            <form action="/signup" autocomplete="off" method="post">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-xs-8">
                  {{#if messages}}
                  <div class="alert alert-danger alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p>{{messages}}</p>
                </div>
                  {{/if}}
                    <p class="heading">
                        Create Your Student Account
                    </p>
                        <div class="row">
                                <div class="col-md-6 col-lg-6 col-xs-6">
                                    <div class="box">
                                        <input type="text" name="firstname" required>
                                        <label for="firstname">First name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xs-6">
                                        <div class="box">
                                                <input type="text" name="lastname" required>
                                                <label for="lasttname">Last name</label>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xs-12">
                                    <br><br>
                                        <div class="box">
                                                <input type="email" name="email" required>
                                                <label for="email">Email</label>
                                                <p>You can use Letters, Numbers &amp; periods <br><br></p>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xs-6">
                                        <div class="box">
                                            <input type="password" name="password" required id="password">
                                            <label for="password">Password</label>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-lg-5 col-xs-5">
                                            <div class="box">
                                                    <input type="password" name="confirmPassword" required id="confirmPassword">
                                                    <label for="confirmPassword">Confirm Password</label>
                                            </div>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xs-1">
                                        <div class="box">
                                            <img src="images/hidden.png" alt="" id="show" onclick="change()">
                                        </div>
                                    </div>
                                    <p class="smallParagraph"><br>Use 8 Or More Characters with a mix of letters, numbers, symbols.</p>
                                </div>
                                <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            <div class="final">
                                                <a href="/signin" class="link">Sign in instead</a>
                                                <button type="submit" class="btn">Sign up</button>
                                            </div>
                                        </div>
                                    </div>
                                <div class="row">
                                        <div class="col-md-12 col-lg-12 col-xs-12">
                                                <div class="google">
                                                    <p>OR</p>
                                                    <br>
                                                    <a href="/google" class="btn btn-primary pull-left"><i class="fa fa-google-plus" aria-hidden="true"></i> Login With Google</a>
                                                    
                                                </div>
                                            </div>
                                </div>
                                
                </div>
                <div class="col-md-4 col-lg-4 col-xs-4">
                    <div class="sideImg">
                            <img src="images/secure.jpg" alt="" class="responsive-img">
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    <script>
    function change(){
        var img = document.getElementById('show')
        var password = document.getElementById('password')
        var confirmPassword = document.getElementById('confirmPassword')
        if(password.type==='password' && confirmPassword.type==="password"){
            img.src="images/show.jpg"
            password.type="text"
            confirmPassword.type="text"
            console.log('show')
        }else{
            img.src="images/hidden.png"
            password.type="password"
            confirmPassword.type="password"
            console.log('hidden')
        }
    }
    </script>